.card_company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 30px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
}


@media (max-width: 600px) {
    .card_company {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}


.header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.about_company {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin-top: auto;
    text-align: center;
    font-size: 7px;
}

.information {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%; 
    height: auto;
    max-width: 500px;
}

@media (max-width: 1000px) {
    img {
        max-width: 200px;
    }
}
